body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn {
  background-color: rgb(26, 166, 231);
  border:rgb(0, 133, 195);
  border-radius: 10px;

  padding-block: 0.8rem;

}

.btn:hover {
  background-color: rgb(18, 128, 179);

  cursor: pointer;
}

.grid {
  display: grid;

  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin: 1rem;

  border: 2px solid gray;
  border-radius: 10px;
  padding: 1rem;
  box-shadow: rgb(0,0,0,0.35) 10px 10px 10px;
}