.box {
    width: 10rem;
    height: 20rem;

    max-width: 15rem;
    max-height: 25rem;

    border: 2px solid black;
    border-radius: 10px;

    /* Comment once you get into finish product w/ grid */
    /* margin: 2rem;  */
}

/* We are selecting all the nested elements */
.box > * {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.2rem;
}